TOKEN=
MY_GUILD=
PROFILE_TARGET_CHANNEL_IDS=
ZERO_ROMANCE_ROLE_ID=
ROMANCE_ROLE_ID=
ZERO_ROMANCE_HIDDEN_CATEGORY_ID=
ADMIN_ROLE_ID=
EXCLUDED_CHANNEL_IDS=
VC_RANK_REDUCED_CATEGORY_IDS=
INTERVIEW_ROOM_CATEGORY_ID=
RECORDING_FORWARD_CHANNEL_ID=
RECORDING_FORUM_CHANNEL_ID=
RECORDING_FORUM_MALE_ID=
RECORDING_FORUM_FEMALE_ID=
SCORE_REVIEWER_COUNT=4
MALE_ROLE_ID=
FEMALE_ROLE_ID=
NEWCOMER_ROLE_ID=
WAITING_ROLE_ID=
WAITING_CATEGORY_ID=
REVIEW_ROLE_ID=
CALL_CATEGORY_ID=
CALL_LOG_CHANNEL_ID=
MAX_ROOMS_PER_FEMALE=3
MAX_ROOMS_PER_MALE=3
TRIAL_WARNING_SOUND=
LOBBY_VC_ID=
TEMP_VC_CATEGORY_ID=
MP_TEXT_CATEGORY_ID=
MOOD_PHOTO_ROLE_ID=
MOOD_PHOTO_CHANNEL_ID=
MOOD_PHOTO_COST=10
MP_LOG_CHANNEL_ID=
